* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    }
    body{
        display: flex;
        justify-content: center;
        align-items:center;
        min-height:100vh;
        background: url("/static/images/login.webp") no-repeat;
        background-size: cover;
        background-position: center;
    }
    .wrapper{
        width: 420px;
        background: transparent;
        border: 1px solid ;
        color: #fff;
        backdrop-filter: blur(5px);
        border-radius: 12px;
        padding: 30px 40px;
        color: #fff;
    }
    .wrapper h1{
        font-size: 36px;
        text-align: center;
    
    }
    .wrapper .input-box{
        width: 100%;
        height: 50px;
        margin: 30px 0;
    }
    .wrapper .input-box input{
        width: 100%;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
        border: 2px solid rgba(255,255,255,.2);
        border-radius: 30px;
        color: aliceblue;
        padding: 25px 23px 25px;
    }
    .wrapper .input-box input::placeholder{
        color: whitesmoke;
    
    }
    .input-box i{
        position: absolute;
        right: 20px;
        top: 50%;
        transform:translateY(-50%);
        font-size: 20px;
    }
    .wrapper .remember-forgot{
        display:flex;
        justify-content: space-between;
        font-size: 17px;
        margin: -15px 0 15px;
    }
    .wrapper .remember-forgot label input{
        accent-color: #fff;
        margin-right: 3px;
    }
    .remember-forgot a{
        color: #fff;
        text-decoration: none;
    }
    .remember-forgot a:hover{
        text-decoration: underline;
    }
    .wrapper .btn{
        width: 100%;
        height: 35px;
        background: #fff;
        border: none;
        outline: none;
        text-align: center;
        border-radius: 40px;
        box-shadow: 0 0 15px rgba(0, 0, 0, -1);
        cursor: pointer;
        font-size: 16px;
        color: #333;
        font-weight: 600;
    }
    .wrapper .register-link{
        color: #fff;
        font-size: 17px;
        text-align: center;
        margin: 20px 0 15px;
    }
    .register-link p a{
        color: #fff;
        text-decoration: none;
        font-weight: 550;
    }
    .register-link p a:hover{
        text-decoration: underline;
    }
    .icons a{
        text-decoration: none;
        color: #fff;
    }
    .icons ion-icon{
        color: #fff;
        font-size: 30px;
        padding-left: 30px;
        padding-top: 5px;
    }