<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/chat.css">
</head>
<body>
    <div class="whole">
        <div class="scroll-bar">
            <div class="heading">
                <pre>Messages</pre>
            </div>
            <div class="inbox">
                <pre> Inbox                        <a href="#">New Chat</a></pre>
            </div>
            <div class="inner">
                <div class="a">
                </div>
                <div class="a">
                    <pre><img src="/static/images/croping17.png" height="40"Posh</pre>
                    <div class="msg">
                        <p><pre> You:sent a photo.5m ago</pre></p>
                    </div>
                </div>
                <div class="a">
                    <pre> Mani sai</pre>
                    <div class="msg">
                        <p><pre> 4+new messages.now</pre></p>
                    </div>
                </div>
                <div class="a">
                    <pre> Ashraf</pre>
                    <div class="msg">
                        <p><pre> seen just now</pre></p>
                    </div>
                </div>
                <div class="a">
                    <pre> Posh</pre>
                    <div class="msg">
                        <p><pre> You:Bye..! 6.w</pre></p>
                    </div>
                </div>
                <div class="a">
                    <pre> Mani sai</pre>
                    <div class="msg">
                        <p><pre> Last seen 3.hr</pre></p>
                    </div>
                    
                </div>
                <div class="a">
                    <pre> Ashraf</pre>
                    <p><pre> Liked a message.5d</pre></p>
                </div>
                
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>